<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <a href="{{url_for('back')}}"><div style='width: 5%; left: 1%; position: absolute; border-color: darkcyan;'>← BACK</div></a>
        <h1>Ambience</h1>
        
            <div class='lighting'>
                <h3>LIGHTING</h3>
                <h4>What type of lighting do you want? Regular lighting on the ceiling, or something more snazzy like a disco ball?</h4>
                <input type='text' name='lighting' id='lighting' placeholder='Write types of lighting here'>
            </div>
            <div class='decorations'>
                <h3>DECORATIONS</h3>
                <h4>What are you going to use to decorate the party venue?</h4>
                <input type='text' name='decorations' id='decorations' placeholder='Write the decorations that will be done'>
            </div>
            <div class='music'>
                <h3>MUSIC</h3>
                <h4>Do you have a playlist yet? What music will the playlist have?</h4>
                <input type='text' name='music' id='music' placeholder='Write the songs of the playlist here'>
            </div>
            <div class='entertainment'>
                <h3>ENTERTAINMENT</h3>
                <h4>What will there be for entertainment? Will there be stations, or something else?</h4>
                <input type='text' name='entertainment' id='entertainment' placeholder='Write the forms of entertainment'>
            </div>
            <div style='margin-top: 1%; border-bottom-style: hidden;'><button onclick='submit()'>SUBMIT</button></div>
        

        <script>
            
            document.getElementById("lighting").value = "{{ posts[0].inputVal }}";
            document.getElementById("decorations").value = "{{ posts[1].inputVal }}";
            document.getElementById("music").value = "{{ posts[2].inputVal }}";
            document.getElementById("entertainment").value = "{{ posts[3].inputVal }}";

            var elements=["lighting", "decorations", "music", "entertainment"];
            for(el of elements){
                var value=$("#"+el).val();
                if(value == ''){
                    $('.'+el).css('background-color', 'orangered');
                } else if(value){
                    $('.'+el).css('background-color', 'palegreen');
                } else{
                    console.log('undefined value')
                }
                
            }

            function submit(){
                var lighting='#lighting';
                var decorations='#decorations';
                var music='#music';
                var entertainment='#entertainment';

                var elements=[lighting, decorations, music, entertainment];
                
                for(i in elements){
                    var value=$(elements[i]).val();
                    if (value == ''){
                        $(elements[i]).addClass('False');
                    } else if(value){
                        $(elements[i]).addClass('True');
                    } else {
                        console.log('undefined value');
                    }
                }
                
                var obj={
                    "lighting": $('#lighting').attr('class'),
                    "decorations": $('#decorations').attr('class'),
                    "music": $('#music').attr('class'),
                    "entertainment": $('#entertainment').attr('class'),

                    "lightingText": $('#lighting').val(),
                    "decorationsText": $('#decorations').val(),
                    "musicText": $('#music').val(),
                    "entertainmentText": $('#entertainment').val()
                };
                
                $.ajax({
                    url: '/processAmbience',
                    data: obj,
                    method: 'POST',
                    success: function(){
                        window.location='/';
                    }
                });
            }
            
        </script>
        
    </body>
</html>