<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Backup</h1>
        <div id='checklist'>
            <div>
                <h3>FIRST AID KIT</h3>
                <input type="checkbox" name='sterileGauzePads' id='sterileGauzePads'>
                <label for='sterileGauzePads'>Sterile Gauze Pads</label>
                <input type="checkbox" name='adhesiveTape' id='adhesiveTape'>
                <label for='adhesiveTape'>Adhesive Tape</label>
                <input type="checkbox" name='bandAids' id='bandAids'>
                <label for='adhesiveBandages'>Adhesive Bandages (Band-Aids)</label>
                <input type="checkbox" name='examGloves' id='examGloves'>
                <label for='examGloves'>Exam Gloves</label>
                <input type="checkbox" name='antisepticPads' id='antisepticPads'>
                <label for='antisepticPads'>Antiseptic Pads</label>
                <input type="checkbox" name='tweezers' id='tweezers'>
                <label for='tweezers'>Tweezers</label>
                <input type="checkbox" name='icePacks' id='icePacks'>
                <label for='icePacks'>Ice Packs</label>
                <input type="checkbox" name='itchCream' id='itchCream'>
                <label for='itchCream'>Itch Cream/After-Bite Ointment</label>
                <input type="checkbox" name='antibioticCream' id='antibioticCream'>
                <label for='antibioticCream'>Antibiotic Cream</label>
                <input type="checkbox" name='digitalThermometer' id='digitalThermometer'>
                <label for='digitalThermometer'>Digital Thermometer</label>
            </div>

            <div>
                <h3>CLEANING SUPPLIES</h3>
                <input type="checkbox" name='towels' id='towels'>
                <label for='towels'>Towels</label>
                <input type="checkbox" name='mop' id='mop'>
                <label for='mop'>Mop</label>
                <input type="checkbox" name='broom' id='broom'>
                <label for='broom'>Broom</label>
                <input type="checkbox" name='trashCan' id='trashCan'>
                <label for='trashCan'>Trash Can</label>
                <input type="checkbox" name='sprayBottle' id='sprayBottle'>
                <label for='sprayBottle'>Spray Bottle</label>
            </div>
            <button onclick='submit()'>Submit</button>
        </div>

        <script>
            
            document.getElementById("towels").checked = true;
            console.log('true')
            document.getElementById("towels").checked = false;
            
            document.getElementById('tweezers').checked = "{{ posts[5].checked }}";
            console.log("{{ posts[5].checked }}")
            document.getElementById('icePacks').checked = "{{ posts[6].checked }}";
            
            function submit(){
                var sterileGauzePads= '#sterileGauzePads';
                var adhesiveTape= '#adhesiveTape';
                var bandAids= '#bandAids';
                var examGloves= '#examGloves';
                var antisepticPads= '#antisepticPads';
                var tweezers= '#tweezers';
                var icePacks= '#icePacks';
                var itchCream= '#itchCream';
                var antibioticCream= '#antibioticCream';
                var digitalThermometer= '#digitalThermometer';
                var towels= '#towels';
                var mop= '#mop';
                var broom= '#broom';
                var trashCan= '#trashCan';
                var sprayBottle= '#sprayBottle';

                var elements = [
                    sterileGauzePads, 
                    adhesiveTape, 
                    bandAids, 
                    examGloves,
                    antisepticPads,
                    tweezers,
                    icePacks,
                    itchCream,
                    antibioticCream,
                    digitalThermometer,
                    towels,
                    mop,
                    broom,
                    trashCan,
                    sprayBottle
                ];

                for(i in elements){
                    value=$(elements[i]).val();
                    if (value == ''){
                        $(elements[i]).addClass('False');
                    } else if(value){
                        $(elements[i]).addClass('True');
                    } else {
                        console.log('undefined value');
                    }
                }

                var obj = {
                    "sterileGauzePads": $('#sterileGauzePads').attr('class'),
                    "adhesiveTape": $('#adhesiveTape').attr('class'),
                    "bandAids": $('#bandAids').attr('class'),
                    "examGloves": $('#examGloves').attr('class'),
                    "antisepticPads": $('#antisepticPads').attr('class'),
                    "tweezers": $('#tweezers').attr('class'),
                    "icePacks": $('#icePacks').attr('class'),
                    "itchCream": $('itchCream#').attr('class'),
                    "antibioticCream": $('#antibioticCream').attr('class'),
                    "digitalThermometer": $('#digitalThermometer').attr('class'),
                    "towels": $('#towels').attr('class'),
                    "mop": $('#mop').attr('class'),
                    "broom": $('#broom').attr('class'),
                    "trashCan": $('#trashCan').attr('class'),
                    "sprayBottle": $('#sprayBottle').attr('class')
                }

                $.ajax({
                    url: '/processBackup',
                    data: obj,
                    method: 'POST',
                    success: function(){
                        window.location='/';
                    }
                });
            }
        </script>
    </body>
</html>